<app-navbar></app-navbar>

<!-- banner -->
<section>
    <!-- Banner principal -->
    <div class="wrapper">
        <!-- Informarivos -->
        <div class="information slide-in-top">
            <span>A saúde da sua familia em primeiro lugar.</span>
        </div>
        <!-- chama planos -->
        <div class="bota_plus_for_us slide-in-top">
            <button role="button" class="botao">Conheça mais sobre nós</button>
        </div>
    </div>
</section>
<!-- Objetivo da empresa -->
<section>
    <div class="grid-container-2-2">
        <div class="image-enterprise-left slide-in-left">
            <img src="../../assets/img/enterprise.svg" width="80%">
        </div>
        <div class="text-enterprise slide-in-right">
            <h1>SOBRE NÓS</h1>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
                Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
                sit amet..", comes from a line in section 1.10.32.
            </p>
        </div>
    </div>
</section>
<!-- Planos de cobertura -->
<section>
    <div class="planos-de-saude">
        <div>
            <h1>Um pouco mais sobre nossas parcerias</h1>
        </div>
        <div class="grid-container-5-5">
            <img src="../../assets/img/hapvida.png" width="60%">
            <img src="../../assets/img/sulamerica.png" width="60%">
            <img src="../../assets/img/amil.png" width="40%">
            <img src="../../assets/img/unimed.png" width="60%">
            <img src="../../assets/img/bradesco-saude.png" width="80%">
        </div>
    </div>
</section>
<!-- Tipos de planos -->
<section>
    <div class="tipos-planos-saude">
        <div class="parallax">
            <h1>
                PLANOS PARA TODAS AS NECESSIDADES
            </h1>
            <div class="grid-container-3-3">
                <div>
                    <img src="../../assets/img/mother.png" width="30%">
                    <span>INDIVIDUAL</span>
                </div>
                <div>
                    <img src="../../assets/img/family.png" width="30%">
                    <span>FAMILIAR</span>
                </div>
                <div>
                    <img src="../../assets/img/building.png" width="30%">
                    <span>EMPRESARIAL</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contatos -->
<section>
    <div class="contatos">
        <div class="grid-container-2-2-customized">
            <div style="    padding-top: 10%;">
                <h1>
                    Precisa de ajuda ou gostaria de fazer um orçamento?
                </h1>
                <div class="contatos-informacoes">
                    <p>
                        Em apenas 20 minutos, nosso consultor poderá entender o seu perfil e te ajudar a montar o plano
                        de
                        seguro ideal para suas necessidades.


                    </p>
                    <p>
                        Preencha o formulário que em breve entraremos em contato para uma consultoria gratuita.
                    </p>
                </div>
            </div>
            <div style="       padding: 10%;">
                <mat-card>
                    <span class="title-card">
                        Marque sua consultoria gratuita
                    </span>
                    <form class="consultoria-form ">
                        <div class="consultoria-form-grid">
                            <mat-form-field>
                                <mat-label>Nome Completo *</mat-label>
                                <input matInput placeholder="Seu nome completo">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Email *</mat-label>
                                <input matInput placeholder="Seu melhor email">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Telefone *</mat-label>
                                <input matInput placeholder="Seu telefone mais acessível">
                            </mat-form-field>
                        </div>
                        <div class="bota_plus_for_us">
                            <button role="button" class="botao">Agendar consutoria gratuita</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- Footer -->
<section>
    <div class="footer">
        <span class="made-by">Made with love by J~A</span>
    </div>
</section>